/*==================================TOP NAVIGATION
*/
#nav{	
	margin: 0;
	padding:12px 0;
	font-size:12px;
	float:right;
}
#nav li{	
	float: left;
	list-style:none;
	text-align:center;
	line-height:20px;
	padding-top:12px;
}
#nav li a{
	font-size:15px;	
	display: block;
	padding: 4px 0;
	text-decoration: none;
	color:#505050;
}
#nav li a:hover, #nav li .nav_current{
	color:#fa1363;
}
/*==================================FOOTER NAVIGATION
*/
.ftrcontent ul{
	margin: 0;
	padding:10px 0;
	float:right;
}
.ftrcontent ul li{
	float: left;
	list-style:none;
	line-height:18px;
	margin:0;
}
.ftrcontent ul li a{
	color:#505050;
	text-decoration:none;
	border-right:1px solid #d2d2d2;
	padding:0 10px;
}
.ftrcontent ul li a:hover, .ftrcontent ul li .ftr_current{
	text-decoration:underline;
}
.ftrcontent ul li .ftr_last{
	border:none;
}
