<h5>Recent transactions</h5>
<ol>
  <li>You <b>deposited</b> &pound;10.00 into your account</li>
  <li>You <b>won</b> &pound;5.00!</li>
  <li>You <b>won</b> &pound;2.00!</li>
  <li>You <b>won</b> &pound;2.00!</li>
  <li>You <b>won</b> &pound;15.00!</li>
</ol>
View your full <a href='/transactions'>transaction history</a>